.addtodo {
  width: 90%;
  margin: 10px auto;
  background-color: rgb(247, 247, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 30px 0 30px 0;
}

.addtodo form {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.addtodo input {
  width: 300px;
  outline: 0;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}

.addtodo button {
  padding: 8px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: 0;
  cursor: pointer;
}

.todolist {
  width: 90%;
  margin: 10px auto;
  background-color: rgb(247, 247, 245);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.todopart {
  width: 800px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px 0 15px 0;
  margin-top: 10px;
}

.todopart span,
.completed span {
  width: 60%;
  /* background-color: #ccc; */
}

.todopart button,
.completed button {
  padding: 8px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: 0;
  cursor: pointer;
}

.completed {
  opacity: 0.5;
  width: 800px;
  padding: 10px;
  background-color: rgb(177, 170, 170);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px 0 15px 0;
  margin-top: 10px;
  text-decoration: line-through;
}

.uncomp{
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: aliceblue;
    padding: 10px 0;
    border-radius: 30px 0 30px 0;
}
.uncomp span,
.uncomp p{
    background-color: rgb(252, 248, 248);
    width: 300px;
    margin-bottom: 10px;
    border: 1px solid rgb(248, 247, 248);
    text-align: center;
    border-radius: 5px;
    padding: 10px;
}

select{
    width: 200px;
    outline: none;
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 10px;
}
